<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">404</title>
    <style>
        body {

            width: 100vw;
            height: 100vh;
        }

        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body class="bg-black">
    <h1 class="f-headline-l tracked-tight light-purple">404</h1>

    <script>
        document.getElementById("title").innerText = "404 " + location.href
    </script>
</body>

</html>